<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <a class="error-link" href="/inv/type/server-error">Error Link</a>
</footer>