/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Fonts */

/* font-family: "Varela Round", sans-serif;
font-weight: 400;

font-family: "Merriweather", serif;
font-weight: 700;

font-family: "Roboto", sans-serif;
font-weight: 400; */


/* Header */

header {
  display: grid;
  grid-template-columns: auto 80px;
  align-items: center;
  column-gap: 8px;
}

/* #tools {

} */

#tools a {
  text-decoration: none;
  font-size: small;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
}

.siteName a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}

nav {
  background-color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  height: 50px;
  align-content: center;
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  color: white;
  list-style: none;
}

.hero section {
  font-size: small;
  width: 150px;
  background-color: #ffffff99;
  color: rgb(16, 63, 63);
  position: absolute;
  /* bottom: 50%; */
  top: 170px;
  left: 5%;
  /* right: 10%; */
  padding: 0;
}

h1, h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

p, main li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero section img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.hero img {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2px;
}

.hero section h2, .hero section p {
  margin: 2px 0 0 10px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  margin: 0 auto;
  /* padding: 0; */
}

figure {
  width: 120px;
  padding: 0;
  margin: 10px 10px;
  /* display: flex; */
}

.upgrades section {
  width: 120px;
  height: 100px;
  background-color: rgb(85, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.upgrades section img {
  /* width: 50px; */
  height: 70px;
}

figure {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body {
    color: red;
    max-width: 800px;
    margin: 0 auto;
    border: solid 1px rgb(219, 13, 13);
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/baezbenjamin/cse340/refs/heads/main/public/images/site/checkerboard.jpg");
    margin-bottom: 20px;
    margin-top: 20px;
  }

  header, main, footer {
    background-color: white;
    border-radius: 10px;
    margin: 0;
    padding: 0;
  }

  header {
    
  }

  footer {
    
  }
}