/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Fonts */

/* font-family: "Varela Round", sans-serif;
font-weight: 400;

font-family: "Merriweather", serif;
font-weight: 700;

font-family: "Roboto", sans-serif;
font-weight: 400; */


/* Header */

header {
  display: grid;
  grid-template-columns: auto 80px;
  align-items: center;
  column-gap: 8px;
}

/* #tools {

} */

#tools a {
  text-decoration: none;
  font-size: small;
  color: black;
  font-family: "Varela Round", sans-serif;
}

.siteName a {
  text-decoration: none;
  font-size: 50px;
  color: black;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}

nav {
  background-color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  height: 50px;
  align-content: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  color: white;
  list-style: none;
}

.hero section {
  font-size: small;
  width: 150px;
  background-color: #ffffff99;
  color: blue;
  position: absolute;
  top: 12rem;
  left: 2rem;
  right: 2rem;
  padding: 0;
}

h1, h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

p, main li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero section img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.hero img {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2px;
}

.hero section h2, .hero section p {
  margin: 2px 0 0 10px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
}

.upgrades section {
  width: 150px;
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.upgrades section img {
  /* width: 50px; */
  height: 70px;
}

figure {
  text-align: center;
}