/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Fonts */

/* font-family: "Varela Round", sans-serif;
font-weight: 400;

font-family: "Merriweather", serif;
font-weight: 700;

font-family: "Roboto", sans-serif;
font-weight: 400; */


/* Header */

header {
  display: grid;
  grid-template-columns: auto 80px;
  align-items: center;
  column-gap: 8px;
}

/* #tools {

} */

#tools a {
  text-decoration: none;
  font-size: small;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
}

.siteName a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  /* font-style: normal; */
}

nav {
  background-color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  height: 50px;
  align-content: center;
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  text-decoration: none;
  color: white;
  list-style: none;
}

.hero section {
  font-size: small;
  width: 150px;
  background-color: #ffffff99;
  color: rgb(16, 63, 63);
  position: absolute;
  /* bottom: 50%; */
  top: 170px;
  left: 5%;
  /* right: 10%; */
  padding: 0;
}

h1, h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}



p, main li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero section img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.hero img {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2px;
}

.hero section h2, .hero section p {
  margin: 2px 0 0 10px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  margin: 0 auto;
  /* padding: 0; */
}

figure {
  width: 120px;
  padding: 0;
  margin: 10px 10px;
  /* display: flex; */
}

main {
  background-color: white;
}

.upgrades section {
  width: 120px;
  height: 100px;
  background-color: rgb(85, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.upgrades section img {
  /* width: 50px; */
  height: 70px;
}

figure {
  text-align: center;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 600px;
    margin: 0 auto;
    border: solid 6px rgb(85, 206, 206);
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/baezbenjamin/cse340/refs/heads/main/public/images/site/checkerboard.jpg");
    margin-bottom: 20px;
    margin-top: 20px;
  }

  header, main, footer {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  header {
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .first-title {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 50px;
    align-content: center;
  }

  nav {
    margin: 0;
  }

  footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  footer p {
    height: 50px;
    align-content: center;
    margin: 0;
    margin-left: 10px;
  }

  p, h2, span {
    margin-left: 10px;
  }

  main {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: auto auto auto auto;
  }

  .first-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  .hero {
    /* width: 500px; */
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin: 0 auto;
  }

  .hero img {
    width: 500px;
  }

  .third-title {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .upgrades {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .second-title {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

  .reviews {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }

  .hero {
    width: 600px;
  }

  .hero section {
    /* font-size: small;
    width: 150px;
    background-color: #ffffff99;
    color: rgb(16, 63, 63);
    position: absolute;
    top: 170px; */
    left: inherit;
    /* padding: 0; */
  }
}

@media only screen and (min-width: 800px) {

  body {
    max-width: 800px;
  }

  main {
    grid-template-columns: 200px 200px 200px 200px;
  }
}