/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.siteName a {
  text-decoration: none;
  font-size: 50px;
  color: black;
}

nav {
  background-color: blue;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

nav ul li {
  text-decoration: none;
  color: white;
  list-style: none;
}

.hero section {
  font-size: small;
  width: 150px;
  background-color: #ffffff99;
  color: blue;
  position: absolute;
  top: 12rem;
  left: 2rem;
  right: 2rem;
  padding: 0;
}

.hero section img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.hero img {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2px;
}

.hero section h2, .hero section p {
  margin: 2px 0 0 10px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
}

.upgrades section {
  width: 150px;
  height: 100px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.upgrades section img {
  /* width: 50px; */
  height: 70px;
}

figure {
  text-align: center;
}