/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Fonts */

/* font-family: "Varela Round", sans-serif;
font-weight: 400;

font-family: "Merriweather", serif;
font-weight: 700;

font-family: "Roboto", sans-serif;
font-weight: 400; */


/* Header */

header {
  display: grid;
  grid-template-columns: auto 80px;
  align-items: center;
  column-gap: 8px;
}

/* #tools {

} */

#tools a {
  text-decoration: none;
  font-size: small;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
}

.siteName a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}

nav {
  background-color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  height: 50px;
  align-content: center;
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero section {
  font-size: small;
  width: 150px;
  background-color: #ffffff99;
  color: rgb(16, 63, 63);
  position: absolute;
  top: 170px;
  left: 5%;
  padding: 0;
}

h1, h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

.first-title {
  font-size: 28px;
}

p, main li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero section img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.hero img {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2px;
}

.hero section h2, .hero section p {
  margin: 2px 0 0 10px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  margin: 0 auto;
}

figure {
  width: 120px;
  padding: 0;
  margin: 10px 10px;
}

main {
  background-color: white;
}

.upgrades div {
  width: 120px;
  height: 100px;
  background-color: rgb(85, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.upgrades div img {
  height: 70px;
}

figure {
  text-align: center;
}

#inv-display {
  margin: 0;
  padding: 0;
  justify-self: center;
}

#inv-display li {
  list-style: none;
  text-align: center;
  border: solid 1px rgb(112, 107, 107);
  border-radius: 5px;
  width: 200px;
  align-items: center;
  overflow: hidden;
  margin: 10px;
}

#inv-display li hr {
  border: solid 1px rgb(112, 107, 107);
}

#inv-display li img {
  border-radius: 5px;
  width: 200px;
}

.namePrice h2 {
  font-size: 16px;
  /* align-content: center; */
}

.namePrice span {
  font-size: 16px;
}

.detail-page {
  width: 300px;
  margin: 0 auto;
}

.detail-page img {
  max-width: 300px;
}

form {
  width: 300px;
  background-color: rgb(34, 54, 167);
  border-radius: 5px;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  color: white;
  font-family: "Varela Round", sans-serif;
  justify-self: center;
}

/* top | right | bottom | left */

label {
  /* margin-left: 20px; */
  margin: 10px auto 10px 20px;
}

input[type="text"], input[type="email"], input[type="password"], select, textarea, input[type="number"] ,input[type="submit"] {
  width: 80%;
  /* margin-left: 20px; */
  margin: 5px auto 10px 20px;
}

.login-button {
  border: none;
  width: 70px;
  color: rgb(18, 18, 61);
  border-radius: 10px;
  background-color: white;
  font-size: 12px;
  /* justify-self: center; */
  margin-left: 115px;
  /* margin-right: 115px; */
  margin-bottom: 10px;
}

.sign-up {
  margin: 0;
  /* width: 80%;
  margin-left: 10%;
  margin-right: 10%; */
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.sign-up a {
  color: white;
}

.register-button {
  margin-top: 5px;
  margin-left: 20px;
  border: none;
  width: 80px;
  color: rgb(18, 18, 61);
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
}

input:required:invalid, input:focus:invalid {
  background-color: #ff000099;
}

input:required:valid {
  background-color: #00800099;
}

form span {
  font-family: "Roboto", sans-serif;
  font-size: smaller;
  margin-left: 20px;
  display: block;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 600px;
    margin: 0 auto;
    border: solid 6px rgb(85, 206, 206);
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/baezbenjamin/cse340/refs/heads/main/public/images/site/checkerboard.jpg");
    margin-bottom: 20px;
    margin-top: 20px;
  }

  header, main, footer {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  header {
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .first-title {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 50px;
    align-content: center;
  }

  nav {
    margin: 0;
  }

  footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  footer p {
    height: 50px;
    align-content: center;
    margin: 0;
    margin-left: 10px;
  }

  p, h2, span {
    margin-left: 10px;
  }

  main {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: auto auto auto auto;
  }

  .first-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  .hero {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin: 0 auto;
  }

  .hero img {
    width: 500px;
  }

  .third-title {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .upgrades {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .second-title {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

  .reviews {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }

  .hero {
    width: 600px;
  }

  .hero section {
    left: inherit;
  }

  h1 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-left: 10px;
  }

  #inv-display {
    max-width: 440px;
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    display: flex;
    flex-wrap: wrap;
  }

  form {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
  }
}

@media only screen and (min-width: 800px) {

  body {
    max-width: 800px;
  }

  main {
    grid-template-columns: 200px 200px 200px 200px;
  }

  #inv-display {
    max-width: 680px;
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    display: flex;
    flex-wrap: wrap;
  }
}