/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Header */

header {
  display: grid;
  grid-template-columns: auto 220px;
  align-items: center;
  column-gap: 8px;
}

#tools {
  display: flex;
  gap: 10px;
  margin-right: 10px;
  justify-self: center;
}

#tools a {
  text-decoration: none;
  font-size: small;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
}

.siteName a {
  text-decoration: none;
  font-size: 30px;
  color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
}

nav {
  background-color: rgb(18, 18, 61);
  font-family: "Varela Round", sans-serif;
  height: 50px;
  align-content: center;
  margin-top: 10px;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.hero section {
  font-size: small;
  width: 150px;
  background-color: #ffffff99;
  color: rgb(16, 63, 63);
  position: absolute;
  top: 170px;
  left: 5%;
  padding: 0;
}

h1,
h2 {
  font-family: "Merriweather", serif;
  font-weight: 700;
}

.first-title {
  font-size: 28px;
}

p,
main li {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.hero section img {
  width: 100px;
  height: auto;
  margin-left: 10px;
}

.hero img {
  width: 100%;
  height: auto;
  position: relative;
  margin-top: 2px;
}

.hero section h2,
.hero section p {
  margin: 2px 0 0 10px;
}

.upgrades {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  justify-content: center;
  margin: 0 auto;
}

figure {
  width: 120px;
  padding: 0;
  margin: 10px 10px;
}

main {
  background-color: white;
}

.upgrades div {
  width: 120px;
  height: 100px;
  background-color: rgb(85, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
}

.upgrades div img {
  height: 70px;
}

figure {
  text-align: center;
}

#inv-display {
  margin: 0;
  padding: 0;
  justify-self: center;
}

#inv-display li {
  list-style: none;
  text-align: center;
  border: solid 1px rgb(112, 107, 107);
  border-radius: 5px;
  width: 200px;
  align-items: center;
  overflow: hidden;
  margin: 10px;
}

#inv-display li hr {
  border: solid 1px rgb(112, 107, 107);
}

#inv-display li img {
  border-radius: 5px;
  width: 200px;
}

.namePrice h2 {
  font-size: 16px;
  /* align-content: center; */
}

.namePrice span {
  font-size: 16px;
}

.detail-page {
  width: 300px;
  margin: 0 auto;
}

.detail-page img {
  max-width: 300px;
}

form {
  width: 300px;
  background-color: rgb(34, 54, 167);
  border-radius: 5px;
  border: 1px solid gray;
  margin: 10px;
  padding: 10px;
  color: white;
  font-family: "Varela Round", sans-serif;
  justify-self: center;
}

/* top | right | bottom | left */

label {
  margin: 10px auto 10px 20px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select,
textarea,
input[type="number"],
input[type="submit"] {
  width: 80%;
  margin: 5px auto 10px 20px;
}

.login-button {
  border: none;
  width: 70px;
  color: rgb(18, 18, 61);
  border-radius: 10px;
  background-color: white;
  font-size: 12px;
  margin-left: 115px;
  margin-bottom: 10px;
}

form a {
  color: white;
}

.car-image {
  max-width: 300px;
  display: flex;
  justify-self: center;
}

.error-image {
  max-width: 300px;
  display: flex;
  justify-self: center;
}

.management-cont {
  margin-left: 20px;
}

.management-cont a {
  display: block;
  padding: 10px;
}

.notice {
  font-style: italic;
  color: rgb(196, 8, 8);
}

.manage-inventory {
  margin-left: 10px;
}

.manage-inventory label {
  margin-left: 10px
}

.manage-inventory select {
  width: 200px;
  margin: 0;
}

.manage-inventory table {
  margin-top: 10px;
  margin-left: 10px
}

.edit-account form {
  width: 300px;
  background-color: transparent;
  color: black;
  border: none;
  justify-self: left;
  margin: 0;
  padding: 0;
}

.edit-account button {
  background-color: rgb(34, 54, 167);
  color: white;
  margin-left: 10px;
}

.password-pattern {
  font-style: italic;
  font-size: smaller;
}

.edit-account label,
.edit-account input[type="text"],
.edit-account input[type="email"],
.edit-account input[type="password"] {
  width: 250px;
  margin: 5px auto 10px 10px;
}

.edit-account p {
  width: 570px;
}

#announcement-display div {
  margin: 1rem 8px;
  margin-right: 20px;
  border: 1px solid #999;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  height: auto;
  grid-template-areas:
    "picture name"
    "picture description"
    "picture seemore";
}

#announcement-display div h2 {
  margin: 1%;
  grid-area: name;
  font-size: smaller;
}

#announcement-display div img {
  width: 100%;
  grid-area: picture;
}

#announcement-display div p {
  margin: 1%;
  grid-area: description;
  font-size: smaller;
}

@media only screen and (min-width: 600px) {
  body {
    max-width: 600px;
    margin: 0 auto;
    border: solid 6px rgb(85, 206, 206);
    border-radius: 10px;
    background-image: url("https://raw.githubusercontent.com/baezbenjamin/cse340/refs/heads/main/public/images/site/checkerboard.jpg");
    margin-bottom: 20px;
    margin-top: 20px;
  }

  header,
  main,
  footer {
    background-color: white;
    margin: 0;
    padding: 0;
  }

  header {
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .first-title {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    height: 50px;
    align-content: center;
  }

  nav {
    margin: 0;
  }

  footer {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  footer p, footer a {
    height: 50px;
    align-content: center;
    margin: 0;
    margin-left: 10px;
  }

  p,
  h2,
  span {
    margin-left: 10px;
  }

  main {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: auto auto auto auto;
  }

  .first-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
  }

  .hero {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin: 0 auto;
  }

  .hero img {
    width: 500px;
  }

  .third-title {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .upgrades {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .second-title {
    grid-column: 3 / 5;
    grid-row: 3 / 4;
  }

  .reviews {
    grid-column: 3 / 5;
    grid-row: 4 / 5;
  }

  .hero {
    width: 600px;
  }

  .hero section {
    left: inherit;
  }

  h1 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    margin-left: 10px;
  }

  #inv-display {
    max-width: 440px;
    grid-column: 1 / 5;
    grid-row: 2 / 5;
    display: flex;
    flex-wrap: wrap;
  }

  form {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
  }

  .car-image {
    max-width: 300px;
    grid-column: 1 / 3;
    display: flex;
    align-self: center;
  }

  .characteristics {
    max-width: 300px;
    grid-column: 3 / 5;
    margin-right: 10px;
  }

  .error-image {
    max-width: 500px;
    grid-column: 1 / 5;
    display: flex;
    align-self: center;
  }

  .message {
    margin-left: 10px;

  }

  .management-cont {
    grid-column: 1 / 5;
  }

  #messages {
    grid-column: 1 / 5;
  }

  .manage-inventory {
    grid-column: 1 / 5;
  }

  .management-account {
    grid-column: 1 / 5;
  }

  .management-account a {
    margin-left: 10px;
  }

  .management-account h3 {
    margin-left: 10px;
  }

  .edit-account {
    grid-column: 1 / 5;
  }

  .edit-account form {
    width: 600px;
  }

  #announcement-display {
    grid-column: 1 / 5;
  }
  
  #announcement-display div {
    height: auto;
  }

  #announcement-display div h2 {
    margin: 2%;
    grid-area: name;
    font-size: medium;
  }

  #announcement-display div p {
    margin: 2%;
    grid-area: description;
    font-size: medium;
  }
  
}

@media only screen and (min-width: 800px) {

  body {
    max-width: 800px;
  }

  main {
    grid-template-columns: 200px 200px 200px 200px;
  }

  #inv-display {
  max-width: 680px;
  grid-column: 1 / 5;
  grid-row: 2 / 5;
  display: flex;
  flex-wrap: wrap;
  }

  .characteristics {
    max-width: 400px;
  }

  .edit-account form {
    width: 800px;
  }

  #announcement-display div {
    height: 200px;
  }

  #announcement-display div h2 {
    margin: 2%;
    grid-area: name;
    font-size: 18px;
  }

  #announcement-display div p {
    margin: 2%;
    grid-area: description;
    font-size: 16px;
  }
}