<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error=> { %>
   <li><%= error.msg %></li>
<% }) %>
  </ul>
<% } %>

<!-- Inventory Items Display -->
 <form action="/inv/management/add-classification" method="post">
    <label for="classification_name">Classification Name</label><br>
    <span>NAME MUST BE ALPHABETIC CHARACTERS ONLY.</span>
    <input type="text" name="classification_name" id="classification_name" pattern="[A-Za-z]{2,}" required value="<%= locals.classification_name %>">
    <input type="submit" value="Add Classification">
 </form>
