<!-- Content Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- Message Block -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error=> { %>
   <li><%= error.msg %></li>
<% }) %>
  </ul>
<% } %>

<!-- Inventory Items Display -->
<div class="management-cont">
  <a href="/inv/add-classification" >Add New Classification</a>
  <a href="/inv/add-inventory">Add New Vehicle</a>
</div>

<div class="manage-inventory">
  <h2>Manage Inventory</h2>
  <p>Choose a classification to see those inventory items.</p>
  <label for="classification_id"><%- classificationSelect %></label>
  <table id="inventoryDisplay"></table>
</div>

<script src="../../js/inventory.js"></script>

<noscript>JavaScript must be enabled to use this page.</noscript>